.btn {
	color: white;
	font-size: 16px;
	.bold;
	padding: 5px 9px 4px 9px;
	text-transform: uppercase;
	.shadow (1px, 1px, 3px, 0px, #000);
	border: none;
	text-decoration: none;
	
}

.blue {
	.gradient(#075370, #778da2);

	&:hover {
	
		.gradient(red, red);		
	}
}
input[disabled] {
	border: 1px solid #999;
	background-color: #ddd;
	
	&:hover {
	
		border: 1px solid #999;
		background-color: #ddd;
		
	}
}